[Unit]
After=network-online.target
Description=Tundler REST API

[Service]
Environment=HOME=/root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/local/bin/tundler-api -c /home/tundler/tundler.yaml
Environment=TUNDLER_NETNS=vpnns
ExecStartPre=/usr/local/bin/setup-netns.sh
ExecStartPre=/usr/local/bin/tundler-configure.sh
PassEnvironment=EXPRESSVPN_ACTIVATION_CODE MULLVAD_ACCOUNT_NUMBER NORDVPN_TOKEN PRIVATEINTERNETACCESS_USERNAME PRIVATEINTERNETACCESS_PASSWORD
Restart=always
StandardError=journal+console
StandardOutput=journal+console
Type=simple

[Install]
WantedBy=multi-user.target
